.jumbotron.inversed {
  background: #34495e;
  color: #fff;
  border-radius: 0px;
  padding: 30px;
}
.no-margin {
  margin: 0px !important;
}
.sub_title{
  line-height: 30px;
  font-size: 14px;
  margin: 5px 0 0 0 !important;
  padding: 0px;
}
.support_btn{
  font-weight: normal !important;
  border-color: transparent;
  font-size: 14px;
  float: left !important;
  padding: 10px 16px;
  line-height: 1.33;
  border-radius: 6px;
  color: #fff;
  background-color: #428bca;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  margin-top: -42px;
}

.support_btn:hover{
  color: #fff;
  text-decoration: none;
background-color: #428bca;
}
.page_icon_title{
  margin-left: 5px;
}
